* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Helvetica;

}

header {

}
nav {
  overflow: hidden;
}

nav ul {
  float: right;
  list-style: none;
}

nav ul li {
  float: left;
}

.octodex {
  overflow: hidden;
  margin: 0 auto;
  width: 80%;
  padding-left: 0;
}

.octodex li {
  margin: 0 auto;
  width: 32%;
  padding-left: 1%;
  padding-right: 1%;
}


.octocat {
  float: left;
  width: auto;
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;

}

.octocat img {
  border: 1px solid #efefef;
  margin: 0 auto;
  width: 100%;
}

footer  {
  float:left;
  font-size: .7em;
  margin: 0 auto;
  overflow: hidden;
  text-align: right;
  width: 100%;
}

.triangle-down {
  float: right;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000;
  margin-top: -1px;
  margin-right: 10px;


}

.octonumber {
  margin: 10px auto;
  padding-left: 0;
  padding-right: 0;
  float: left;
}

cite {
  float: right;
  margin: 10px auto;
}


.authors {
  float: right;
  list-style: none;
  margin: 0;
}

.authors img {
  float: right;
  width: 30px;
}
