* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Helvetica;

}

header {

}
nav {
  overflow: hidden;
}

nav ul {
  float: left;
  list-style: none;
}

nav ul li {
  background-color: #bfbfbf;
  border: 1px solid #efefef;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  float: left;
  margin: 0 15px 0 15px;
  padding: 5px 10px;
}

nav a:link {
  color: #000;
  text-decoration: none;

}
.octodex {
  overflow: hidden;
  margin: 0 auto;
  width: 80%;
  padding-left: 0;
}

.octodex li {
  margin: 0 auto;
  width: 33%;
  padding-left: 1%;
  padding-right: 1%;
}


.octocat {
  float: left;
  width: auto;
  list-style-type: none;
  margin: 0 auto -5px auto;
  overflow: hidden;

}

.octocat img {
  border: 1px solid #eee;
  margin: 0 auto;
  width: 100%;
}

footer  {
  border-bottom: 1px solid #eee;
  float:left;
  font-size: .7em;
  margin: 0 auto;
  overflow: hidden;
  text-align: right;
  width: 100%;
}

.triangle-down {
  float: right;
  width: 0;
  height: 0;
  border-color: #eee;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #eee;
  margin-top: -1px;
  margin-right: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.octonumber:before {
  content: "#";
}

.octonumber {
  color: #ccc;
  margin: 10px auto;
  padding-left: 0;
  padding-right: 0;
  float: left;
}

cite {
  color: #a9a9a9;
  float: right;
  font-family: Arial;
  margin: 16px -35px 5px 0;
  font-style: normal;
  font-weight: bold;
  text-align: right;
  text-decoration: none;
}

cite a:link {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

cite a:visited {
  color: #000;
}


.authors {
  float: right;
  list-style: none;
  margin: -5px auto 0 -25px;
}

.authors img {
  border-radius: 5px;
  float: right;
  width: 30px;
}
